@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

li a.active {
  @apply bg-secondary;
}

.custom-button {
  @apply btn text-white bg-[#724ebf] py-6 px-10;
  background: radial-gradient(
    100.03% 140.18% at 0% 85.53%,
    #ff00ff 0%,
    #724ebf 95.31%
  );
}
